In [1]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [13]:

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
df1=pd.read_csv("/kaggle/input/titanic/gender_submission.csv")
df1.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [20]:
train=pd.read_csv("/kaggle/input/titanic/train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
train.size

10692

In [19]:
test=pd.read_csv("/kaggle/input/titanic/test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [22]:
test.size

4598

In [9]:
df1.describe

<bound method NDFrame.describe of      PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]>

In [10]:
df1.dtypes

PassengerId    int64
Survived       int64
dtype: object

In [12]:
df1.isna().sum()

PassengerId    0
Survived       0
dtype: int64

In [25]:
# Preprocess the data
# Drop unnecessary columns and handle missing values
test = test.drop(['Name', 'Ticket', 'Cabin'], axis=1)

KeyError: "['Name', 'Ticket', 'Cabin'] not found in axis"

In [26]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [28]:
test['Age'].fillna(test['Age'].median(), inplace=True)
test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)

/tmp/ipykernel_29/1695188071.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Age'].fillna(test['Age'].median(), inplace=True)
/tmp/ipykernel_29/1695188071.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)

In [29]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [30]:
# Preprocess the data
# Drop unnecessary columns and handle missing values
train = train.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [31]:
train['Age'].fillna(train['Age'].median(), inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)

/tmp/ipykernel_29/648336700.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Age'].fillna(train['Age'].median(), inplace=True)
/tmp/ipykernel_29/648336700.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)

In [32]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [33]:
# Preprocess train data
train['Age'].fillna(train['Age'].median(), inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
train = pd.get_dummies(train, columns=['Sex', 'Embarked'], drop_first=True)
train = train.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

# Preprocess test data similarly
test['Age'].fillna(test['Age'].median(), inplace=True)
test['Fare'].fillna(test['Fare'].median(), inplace=True)
test = pd.get_dummies(test, columns=['Sex', 'Embarked'], drop_first=True)
test = test.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

/tmp/ipykernel_29/2361360625.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Age'].fillna(train['Age'].median(), inplace=True)

KeyError: "['Name', 'Ticket', 'Cabin'] not found in axis"

In [40]:
# After reindexing, fill any remaining NaN values with 0 or appropriate values
test = test.fillna(0)

In [49]:
# Define features (X) and target (y)
X_train = train.drop('Survived', axis=1)
y_train = train['Survived']

X_test=test

In [50]:
# Get the feature columns from the training set after encoding
train_features = X_train.columns

# Reindex the test set to match the training features (fills missing columns with 0s)
test = test.reindex(columns=train_features, fill_value=0)

In [51]:
model = DecisionTreeClassifier(criterion='gini', random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [52]:
# Make predictions
df1['Prediction'] = model.predict(test)

# Display the first few rows of df1 with predictions
print(df1.head())

   PassengerId  Survived  Prediction
0          892         0           0
1          893         1           0
2          894         0           0
3          895         0           0
4          896         1           1

In [53]:
from sklearn.model_selection import cross_val_score

# Cross-validate accuracy
accuracy_scores = cross_val_score(model, X_train, y_train, cv=5, scoring='accuracy')
print("Cross-validated accuracy:", accuracy_scores.mean())

Cross-validated accuracy: 0.7533237084928756

In [ ]:
#With Logistic Regression and Naive Bayes

In [54]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [55]:
models = {
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Logistic Regression": LogisticRegression(random_state=42, max_iter=1000),
    "Naive Bayes": GaussianNB()
}

In [56]:
# Train and evaluate each model
results = {}

for model_name, model in models.items():
    # Train the model
    model.fit(X_train, y_train)
    
    # Make predictions
    y_pred = model.predict(X_test)
    
    # Compute evaluation metrics
    accuracy = accuracy_score(y_train, model.predict(X_train))  # Accuracy on training set
    results[model_name] = {
        "Predictions": y_pred,
        "Accuracy": accuracy,
        "Confusion Matrix": confusion_matrix(y_train, model.predict(X_train)),
        "Classification Report": classification_report(y_train, model.predict(X_train), output_dict=True)
    }

In [57]:
# Display the results
for model, metrics in results.items():
    print(f"\n{model}:")
    print(f"Accuracy: {metrics['Accuracy']:.4f}")
    print("Confusion Matrix:\n", metrics['Confusion Matrix'])
    print("Classification Report:\n", metrics['Classification Report'])

Decision Tree:
Accuracy: 1.0000
Confusion Matrix:
 [[549   0]
 [  0 342]]
Classification Report:
 {'0': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 549}, '1': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 342}, 'accuracy': 1.0, 'macro avg': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 891}, 'weighted avg': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 891}}

Logistic Regression:
Accuracy: 0.7991
Confusion Matrix:
 [[472  77]
 [102 240]]
Classification Report:
 {'0': {'precision': 0.8222996515679443, 'recall': 0.8597449908925319, 'f1-score': 0.8406055209260908, 'support': 549}, '1': {'precision': 0.7570977917981072, 'recall': 0.7017543859649122, 'f1-score': 0.7283763277693475, 'support': 342}, 'accuracy': 0.7991021324354658, 'macro avg': {'precision': 0.7896987216830258, 'recall': 0.780749688428722, 'f1-score': 0.7844909243477192, 'support': 891}, 'weighted avg': {'precision': 0.7972726750906332, 'recall': 0.7991021324354658, 'f1-score': 0.7975276488053207, 'support': 891}}

Naive Bayes:
Accuracy: 0.7901
Confusion Matrix:
 [[460  89]
 [ 98 244]]
Classification Report:
 {'0': {'precision': 0.8243727598566308, 'recall': 0.8378870673952641, 'f1-score': 0.8310749774164408, 'support': 549}, '1': {'precision': 0.7327327327327328, 'recall': 0.7134502923976608, 'f1-score': 0.722962962962963, 'support': 342}, 'accuracy': 0.7901234567901234, 'macro avg': {'precision': 0.7785527462946817, 'recall': 0.7756686798964625, 'f1-score': 0.7770189701897019, 'support': 891}, 'weighted avg': {'precision': 0.7891977999504881, 'recall': 0.7901234567901234, 'f1-score': 0.7895774365151059, 'support': 891}}